@tailwind base;
@tailwind components;
@tailwind utilities;

/* Expanding cards Carta i Menu */

.panel {
    opacity: 0.7;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition: all 0.8s ease-in-out;
}

.panel.active {
    flex: 1.4;
    opacity: 1;
}
