@tailwind base;
@tailwind components;
@tailwind utilities;

/* Expanding cards Carta i Menu */

.panel {
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition: all 0.8s ease-in-out;
    
}

.panel.active {
    flex: 1.5;
    opacity: 1;
    filter: brightness(110%);
}
