@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loading animation */

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #b08d6b;
    z-index: 1;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 10px solid;
    border-color: #f7c873 transparent #f7c873 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Expanding cards Carta i Menu */

.panel {
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition: flex 0.6s ease-in;
}

.panel.active {
    flex: 1;
}
